textarea#text {
  width: 100%;
  height: 100px;
}
section#typewriter {
  padding: 10px 0;
}
span.fixed {
  word-break: break-all;
  white-space: pre-wrap;
}
span.cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  vertical-align: middle;
  transform: translate(-3px, -2px);
  opacity: 1;
}
span.cursor.blink {
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
